@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif{
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    margin: 0;
}
button:hover{
    background-image: linear-gradient(to right, #3d1600, #E95A08) !important;
}
button:active{
    background-color: rgb(71, 0, 0) !important;
    background-image: none !important;
    color: #FFFFFF !important;
}

/* Header section style */
header{
    max-width: 1140px;
    margin: 0 auto;
}
/* nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
nav > img{
    width: 8.4rem;
    height: 5.1rem;
}
.nav-links{
    padding: 22px 0px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-links > a{
    text-decoration: none;
    color: #8987A1;
    font-weight: bold;
}
.nav-links > .home{
    color: #252432;
}
.cart{
    width: 1.5rem;
}
.nav-links > .cart-link{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
}
/* Banner style */
.banner{
    display: flex;
    align-items: end;
}
.banner-img{
    width: 50%;
}
.banner-content{
    width: 50%;
}
.banner-content-head{
    margin-bottom: 13px;
    font-size: 2rem;
}
.banner-content-head > span{
    color: #E95A08;
}
.banner-content-description{
    font-size: 1rem;
    color: #00000050;
}



/* main section style */
/* Plant style */
.plant{
    max-width: 1140px;
    margin: 100px auto;
    text-align: center;
}
.plant-head{
    font-size: 2.5rem;
}
.plant-head span{
    color: #E95A08;
}
.plant-description{
    max-width: 888px;
    margin: 0 auto;
    color: #00000050;
}
.plant-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 49px;
}
.plant-box{
    width: 100%;
    box-shadow: 0.1px 0.1px 1px 0.1px black;
}
.plant-box > img{
    width: 100%;
    margin-bottom: 30px;
}
.plant-box-description-name{
    font-size: 1rem;
    color: #111111;
}
.plant-box-description-money{
    font-size: 1rem;
    font-weight: bold;
    color: #111111;
}
.plant-box-description-btn{
    width: 100%;
    margin-top: 30px;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
}
/* Plants Lover style*/
.Plants-Lover{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
}
.flower-store{
    width: 47%;
    height: auto;
    position: relative;
}
.badge > img{
    width: 9rem;
    position: absolute;
    /* border: 5px solid black; */
    top: -55px;
    right: -55px;
}
.flower-store-img{
    width: 100%;
}
.lants-Lover-content{
    width: 47%;
}
.lants-Lover-content-head{
    color: #000000;
    font-size: clamp(.5rem, 5vw, 3rem);
}
.lants-Lover-content-list > li{
    margin-top: 20px;
    font-size: clamp(.5rem, 2vw, 1rem);
    color: #00000050;
}


/* latest deals style*/
.latest-deals{
    margin-top: 50px;
    text-align: center;
}
.latest-deals > h1 > span{
    color: #E95A08;
}
.latest-deals h1{

}
.latest-deals p{
    margin-top: 16px;
    max-width: 888px;
    margin: 0 auto;
    color: #00000050;
}


/* three image style */
.three-img{
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    gap: 1.5em;
}
.group-two{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 33.33%;
}
.three{
    background-image: url("../assets/deal-zabo.png");
    background-size: cover;
    border-radius: 14px;
    width: 66.66%;
}
.one{
    background-image: url("../assets/deal-bloom.png");
    background-size: cover;
    border-radius: 14px;
}
.two{
    background-image: url("../assets/deal-ana.png");
    background-size: cover;
    border-radius: 14px;
}
.three-common{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00000040;
    background-blend-mode: darken;
    padding: 2.5em 1em;
}
.three-common a{
    color: #FFFFFF;
    font-size: 1.5em;
}



/* join from style */
.join{
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    width: 100%;
    min-height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-content{
    width: 57.64%;
    display: grid;
    align-content: center;
    row-gap: 23px;
}
.join-content h1{
    margin: 0 auto;
    font-size: clamp(1rem, 3vw, 2.5rem);
    color: #FFFFFF;
}
.input-button{
    display: flex;
    width: 100%;
}
.join-content input{
    padding: 0.5em 2em;
    width: 77.59%;
    font-size: clamp(.5rem, 2vw, 1rem);
}
.join-content button{
    padding: 1em 1em;
    background-color: #E95A08;
    border: none;
    width: 22.4%;
    font-size: clamp(.5rem, 2vw, 1rem);
    color: #FFFFFF;
}



/* footer style */
.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 40px auto;
}
.f-group-1{
    width: 32%;
}
.f-group-1 img{
    margin-top: 32px;
    /* width: 37.5%; */
    width: 132px;
}
.f-group-1 p{
    color: #00000050;
}
.f-group-2{
    display: flex;
    flex-direction: column;
}
.f-group-2 a{
    margin-top: 32px;
    text-decoration: none;
    color: #6B7280;
}
.f-group-3{
    display: flex;
    flex-direction: column;
}
.f-group-3 a{
    margin-top: 32px;
    text-decoration: none;
    color: #6B7280;
}
.f-group-4{
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.f-group-4 img{
    width: 2em;
}






@media screen and (max-width: 480px){

    /* Header*/
    nav{
        max-width: 361px;
        margin: 0 auto;
    }
    .vanish{
        display: none;
    }



    /* Banner */
    .banner{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .banner-img{
        width: 100%;
        border: 0.1px solid #00000015;
    }
    .banner-content{
        max-width: 361px;
        margin: 0 auto;
        width: 100%;
    }
    .banner-content-head{
        margin-bottom: 13px;
        font-size: 1.5rem;
    }
    .banner-content-description{
        font-size: 0.8rem;
    }



    /* Plant */
    .plant-images{
        max-width: 361px;
        margin: 30px auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-description{
        max-width: 336px;
    }


    /* Plants Lover*/
    .Plants-Lover{
        flex-direction: column;
        max-width: 361px;
        margin: 0 auto;
    }

    .flower-store{
        width: 100%;
    }
    .lants-Lover-content{
        width: 100%;
    }
    .lants-Lover-content-head{
        font-size: clamp(.5rem, 6vw, 3rem);
    }
    .lants-Lover-content-list > li{
        font-size: clamp(.5rem, 3vw, 2rem);
    }
    .badge > img{
        display: none;
    }


    /* latest deals */
    .latest-deals p{
        max-width: 336px;
    }


    /* Three image */
    .three-common{
        padding-left: 0;
        padding-right: 0;
    }  
    .three-img{
        flex-direction: column;
        max-width: 361px;
    }
    .group-two{
        width: 100%;
    }
    .three{
        width: 100%;
    }
    .one{
        width: 100%;
    }
    .two{
        width: 100%;
        border-radius: 0; /*In group one post that 2 no picture not have border resious*/
    }
    

    /* footer */
    .footer{
        padding: 50px 20px;
        flex-direction: column;
    }
    .f-group-1 img{
        width: 180px;
    }
}